{% extends 'base.html' %}

{% block title %}
Data
{% endblock title %}

{% block body %}

<div style="margin-top:10vh; margin-bottom: 10vh;">
    <h1 class="headings">Search Results - </h1>
    {% if allposts|length < 1 %}
    <h1>No Search Results</h1>
    {% endif %}
    {% for data in allposts %}
<div>
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0" style="font-family: Arial; text-shadow: 1px 1px 0 #000">Name - {{data.dname}}</h3>
            <h3 class="mb-0" style="font-family: Arial; text-shadow: 1px 1px 0 #000">Address - {{data.daddress}}</h3>
            <h3 class="mb-0" style="font-family: Arial; text-shadow: 1px 1px 0 #000">Phone No. - {{data.dphone}}</h3> 
            <h3 class="mb-0" style="font-family: Arial; text-shadow: 1px 1px 0 #000">Description - {{data.ddesc}}</h3>      
</div>
</div>
</div>
{% endfor %}
</div>


{% endblock body %}